[package]
name = "IPv6PrefixFilter"
version = "0.9.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.57", features = ["derive"] }
ctrlc = "3.5.1"
env_logger = "0.11.8"
ipnet = "2.11.0"
log = "0.4.29"
pnet = "0.35.0"

[target.'cfg(unix)'.dependencies]
nfq = "0.2.5"
nftables = "0.6.3"



